canvas {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -999;
}

/* page layout */
html, 
body {
  height: 100%;
  overflow: hidden;
}

.page-main {
  font-family: mr-eaves-sans, sans-serif;
  padding-left: 2.5%;
  position: relative;
  font-size: 130%;
  position: relative;
  top: auto;
  color: white;
  vertical-align: middle;

  label:hover{
    text-decoration: line-through;
  }

  a {
    font-family: mr-eaves-sans, sans-serif;
    color: white;
    text-decoration: none;
  }

  .name {
    p {
    font-family: mr-eaves-sans, sans-serif;
    padding-top: 8%;
    padding-bottom: 2.5%;
    position: relative;
    text-align: left;
    font-size: 150%;
  }
}

.switchbox input {
    display: none;
}

.switchbox div {
    font-family: mr-eaves-sans, sans-serif;
    height: 0;
    overflow-y: hidden;
    transition: 0.8s;   
    opacity: 0;
    padding-bottom: 2%;
}

.switchbox input:checked + label + div {
    font-family: mr-eaves-sans, sans-serif;  
    height: auto;
    opacity: 1;
    font-size: 85%;
}

.switchbox input:checked + label {
  font-family: mr-eaves-sans, sans-serif;
  text-decoration: line-through;
}

.about p {
  margin-top: 1%;
  margin-bottom: 1%;
}

.link p {
  margin-top: 1%;
  margin-bottom: 1%;
}
}

.footer {
  p {
    font-family: mr-eaves-sans, sans-serif;
    font-size: 80%;
    color: white;
    position: relative;
    text-align: left;
    padding-top: 0.5%;
    padding-left: 2.5%;
    padding-bottom: 2%;
  }
}