canvas {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -999;
}

/* page layout */
html, 
body {
}

.page-main {
  position: relative;
  font-size: 100%;
  position: relative;
  top: auto;
  color: white;
  vertical-align: middle;

  h1 {
      padding-top: 10%;
      padding-left: 10%;
      position: relative;
      text-align: left;
      font-size: 250%;
  }

  ul {
    padding-left: 7.5%; 
  }

  ul li {
    display: inline;
    padding-left: 3%;
  }

  a {
      color: white;
      font-size: 120%;
      text-decoration:none; 
  }
}

.footer {
  p {
    position: relative;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 1%;
  }
}